$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #000,
    ),
    grey: (
        1:#f5f8fb,
        2:#e2ebf4,

    ),
    text: (
        body:#888888,
        1:#000,
    ),
    theme: (
        primary: #0660bd,

    ),
    border: (
        1: #888888,
        2:#b7c3cf,
    )
);
