.bg-item {
  position: relative; /* make the item position relative */
}

.bg-item::before {
  content: ""; /* create a pseudo element for the background image */
  position: absolute; /* position the pseudo element absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* set z-index to -1 so the content appears on top */
  background-size: cover; /* set background size */
  background-position: center center; /* set background position */
}

.mainPara {
  color: var(--bd-common-white);
  max-width: 66%;
  text-align: left;
}

.bd-slider__height {
  min-height: 590px;
}

@media only screen and (max-width: 371px) {
  .bd-slider__section {
    margin-top: 30px;
  }

  .euroComLogo {
    max-width: 80%;
  }
}

.bd-contact__section {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #8e9eab,
    #eef2f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8e9eab, #eef2f3);
}

.bd-footer__section {
  background: black;
}

.bd-footer-widget__content p,
.bd-footer-widget h5,
.bd-footer__copyright a {
  color: white;
}

.bd-section__title-wrapper p {
  text-align: justify;
}

.bd-section__inner-list {
  font-size: 18px;
  color: rgb(11, 28, 30);
}

.bd-section__inner-list li {
  margin: 14px 0px;
  text-align: justify;
}

.bd-section__inner-titleSub {
  display: inline-block;
  background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bd-price__content ul li {
  font-weight: bold;
  font-size: 15px;
  color: #0e0202;
}

.hero {
  background-color: var(--bd-grey-1);
  background-image: url("../public/assets/img/extra/manDriving.png");
  background-position: 38rem -6em;
  background-size: 55rem 60rem;
  color: #ffffff;
  padding: 1em;
  text-align: left;
  background-repeat: no-repeat;
}

.blackhighlight {
  background-color: #000000;
}

.logo_section {
  display: flex;
  justify-content: flex-start;
  padding: 0px 5rem;
}

.logo_section img {
  max-width: 13%;
  flex: 0 0 auto; /* this will prevent the image from growing or shrinking */
}

.why_para p {
  font-size: 15px;
  color: white;
  text-align: justify;
}

.bd-about-2__section {
  padding-top: 120px;
  padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .bd-about-2__section {
    padding-top: 25px;
    padding-bottom: 45px;
  }

  .bd-about-2__section ul {
    font-size: 20px;
  }

  .bd-section__inner-list ul li {
    text-align: left;
  }
}

.bd-section__btn-wrapper img {
  max-width: 110%;
}

.bd-section__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bd-section__inner-content p {
  font-size: 16px;
  text-align: justify;
  color: #0e0202;
  font-weight: 400;
}

.bold_para {
  font-size: 26px !important;
  text-align: center !important ;
  margin: 2rem 0px;
  background-image: linear-gradient(to right, #0099f7, #f11712);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg_div {
  background-image: url("../public/assets/img/extra/membershipSVG.svg");
  height: 20vh;
}

.bd-portfolio__section {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    324deg,
    rgba(2, 0, 36, 1) 28%,
    rgba(34, 34, 34, 1) 56%
  );
}

.bd-portfolio__section .bd-section__title {
  color: white;
}

.bd-portfolio__section .bd-section__title-lg {
  font-size: 20px;
}

.membership_title {
  font-size: 35px;
  text-decoration-style: wavy;
}

.bd-btn-member {
  font-size: 18px;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.bd-btn-member:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.about_us_header img {
  max-width: 20%;
}

.breadcrumb__section {
  background-image: linear-gradient(rgb(42 40 40), rgba(0, 0, 0, 0.7)),
    url("../public/assets/img/extra/successBackground.jpg");
  background-size: cover;
  background-position: center;
}

.overlay_success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  max-width: 970px;
  padding: 25px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 10px 0px #d8dfeb;
  box-shadow: 0px 8px 10px 0px #d8dfeb;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.plans .plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plans .plan {
  cursor: pointer;
  width: 48.5%;
}

.plans .plan .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e1e2e7;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
  height: 7rem;
}

.plans .plan .plan-content img {
  margin-right: 15px;
  height: 60px;
}

.plans .plan .plan-details span {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #252f42;
}

.container .title {
  font-size: 15px;
  font-weight: 500;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  color: #252f42;
  margin-bottom: 20px;
}

.plans .plan .plan-details p {
  color: #282b31;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.plans .plan .plan-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
  box-shadow: 0px 3px 5px 0px #e8e8e8;
}

.plans .plan input[type="radio"]:checked + .plan-content:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background: #216fe0;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #0066ff;
  box-shadow: 0px 0px 0px 2px #0066ff;
}

.plans .plan input[type="radio"]:checked + .plan-content {
  border: 2px solid #216ee0;
  background: #eaf1fe;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media screen and (max-width: 991px) {
  .plans {
    margin: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px;
  }

  .plans .plan {
    width: 100%;
  }

  .plan.complete-plan {
    margin-top: 20px;
  }

  .plans .plan .plan-content .plan-details {
    width: 70%;
    display: inline-block;
  }

  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 45%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@media screen and (max-width: 767px) {
  .plans .plan .plan-content .plan-details {
    width: 60%;
    display: inline-block;
  }
}

@media screen and (max-width: 540px) {
  .bd-about__img {
    max-width: 90%;
    margin: 0em auto 3em auto;
  }
  .logo_section img {
    max-width: 50%;
    margin: 10px auto;
  }
  .plans .plan .plan-content img {
    display: none;
    margin-bottom: 20px;
    height: 56px;
    -webkit-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
  }

  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 20px;
    right: 10px;
  }

  .plans .plan .plan-content .plan-details {
    width: 100%;
  }

  .plans .plan .plan-content {
    padding: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
